body{
    margin: 0 17%;
}

/* .list {
    list-style: none;
    position: relative;
}

.item {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    transition: all .8s;
    margin: 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    float: left;
    height: 35rem;
}

.list img {
    width: 100%;
    height: 35rem;
} */

.title{
    text-align: center;
    float: left;
    width: 84%;
    margin-top: 1rem;
    padding: 1rem 5rem 5rem 5rem;
    font-size: 1rem;
    line-height: 2rem;
    color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

h1{
    color: black;
    font-size: 2rem;
    line-height: 5rem;
}

.go{
    background-color: rgb(35,172,56);
    line-height: 3.5rem;
    cursor: pointer;
    width: 12rem;
    text-align: center;
    margin: 3rem auto;
    border-radius: 100px;
}

.go:hover{
    background-color: rgb(1,64,153);
}
.go a{
    text-decoration: none;
    color: #fff;
}

.list2{
    margin: 3rem 2.5rem;
    width: 100%;
}
.list2 li{
    float: left;
    padding: 0 3rem;
}
.list2 a{
    text-decoration: none;
    color: grey;
}
.list2 .li1 a:hover{
    color: rgb(35,172,56);
}
.list2 .li2 a:hover{
    color: rgb(1,64,153);
}
.list2 .li3 a:hover{
    color: rgb(240,130,0);
}
.list2 .li4 a:hover{
    color: rgb(228,0,127);
}


.title2{
    text-align: center;
    float: left;
    width: 84%;
    margin-top: 20px;
    padding: 1rem 5rem 5rem 5rem;
    font-size: 1rem;
    line-height: 2rem;
    color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.list3 img{
    float: left;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.list3 div{
    position: absolute;
    font-size: 22px;
    text-decoration: none;
    z-index: 9999;
}
.list3 .d1{
    left: 23rem;
    top: 93rem;
    color: bisque;
}
.list3 .d2{
    left: 50rem;
    top: 93rem;
    color: bisque;
}
.list3 .d3{
    left: 23rem;
    top: 110rem;
    color: bisque;
}
.list3 .d4{
    left: 50rem;
    top: 110rem;
    color: bisque;
}
/* .list3 li:hover img{
    width: 47.5%;
    transform: scale(1.1);
} */

.box1,
.box2,
.box3,
.box4,
.box5 {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.box1{
    background: -webkit-linear-gradient(top, rgba(188, 181, 185,0.6), rgba(188, 181, 185,0.8)); 
    background: -moz-linear-gradient(top, rgba(188, 181, 185,0.6), rgba(188, 181, 185,0.8)); 
    background: -ms-linear-gradient(top, rgba(188, 181, 185,0.6), rgba(188, 181, 185,0.8)); 
}
.box1:hover{
    background: -webkit-linear-gradient(top, rgba(188, 181, 185,0.7), rgba(188, 181, 185,0.9)); 
    background: -moz-linear-gradient(top, rgba(188, 181, 185,0.7), rgba(188, 181, 185,0.9)); 
    background: -ms-linear-gradient(top, rgba(188, 181, 185,0.7), rgba(188, 181, 185,0.9)); 
    box-shadow: 0 1px #EFEFEF;
}

.box2{
    background: -webkit-linear-gradient(top, rgba(29, 80, 162,0.5), rgba(29, 80, 162,0.7)); 
    background: -moz-linear-gradient(top, rgba(29, 80, 162,0.5), rgba(29, 80, 162,0.7)); 
    background: -ms-linear-gradient(top, rgba(13, 28, 51, 0.5), rgba(29, 80, 162,0.7)); 
}
.box2:hover{
    background: -webkit-linear-gradient(top, rgba(29, 80, 162,0.6), rgba(29, 80, 162,0.8)); 
    background: -moz-linear-gradient(top, rgba(29, 80, 162,0.6), rgba(29, 80, 162,0.8)); 
    background: -ms-linear-gradient(top, rgba(29, 80, 162,0.6), rgba(29, 80, 162,0.8)); 
    box-shadow: 0 1px #EFEFEF;
}

.box3{
    /* background-color: rgb(99, 194, 156); */
    background: -webkit-linear-gradient(top, rgb(99, 194, 156,0.6), rgb(99, 194, 156,0.8)); 
    background: -moz-linear-gradient(top, rgb(99, 194, 156,0.6), rgb(99, 194, 156,0.8)); 
    background: -ms-linear-gradient(top, rgb(99, 194, 156,0.6), rgb(99, 194, 156,0.8)); 
}
.box3:hover{
    background: -webkit-linear-gradient(top, rgb(99, 194, 156,0.7), rgb(99, 194, 156,0.9)); 
    background: -moz-linear-gradient(top, rgb(99, 194, 156,0.7), rgb(99, 194, 156,0.9)); 
    background: -ms-linear-gradient(top, rgb(99, 194, 156,0.7), rgb(99, 194, 156,0.9)); 
    box-shadow: 0 1px #EFEFEF;
}
.box4{
    /* border: 1px solid #FB8F3D;  */
    background: -webkit-linear-gradient(top, rgba(186,207,147,0.7), rgba(186,207,147,0.9));
    background: -moz-linear-gradient(top, rgba(186,207,147,0.7), rgba(186,207,147,0.9));
    background: -ms-linear-gradient(top, rgba(186,207,147,0.7), rgba(186,207,147,0.9));
}

.box4:hover {
    /* border: 1px solid #EB5200;  186,207,147   */
    background: -webkit-linear-gradient(top, rgba(186,207,147,0.8), rgba(186,207,147,1));
    background: -moz-linear-gradient(top, rgba(186,207,147,0.8), rgba(186,207,147,1));
    background: -ms-linear-gradient(top, rgba(96, 124, 44, 0.8), rgba(186,207,147,1));
    box-shadow: 0 1px #EFEFEF;
}

.box5{
    /* background-color: rgb(0, 168, 129); */
    background: -webkit-linear-gradient(top, rgb(0, 168, 129,0.6), rgb(0, 168, 129,0.8)); 
    background: -moz-linear-gradient(top, rgb(0, 168, 129,0.6), rgb(0, 168, 129,0.8)); 
    background: -ms-linear-gradient(top, rgb(0, 168, 129,0.6), rgb(0, 168, 129,0.8)); 
}
.box5:hover{
    background: -webkit-linear-gradient(top, rgb(0, 168, 129,0.7), rgb(0, 168, 129,0.9)); 
    background: -moz-linear-gradient(top, rgb(0, 168, 129,0.7), rgb(0, 168, 129,0.9)); 
    background: -ms-linear-gradient(top, rgb(0, 168, 129,0.7), rgb(0, 168, 129,0.9)); 
    box-shadow: 0 1px #EFEFEF;
}

#text1,
#text2,
#text3,
#text4,
#text5 {
    display: block;
    position: relative;
    height: 100%;
    display: none;
    padding: 18px;
    font-size: 13px;
    line-height: 1.5;
    color: grey;
}

.btn {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 180px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#goPre {
    left: 0px;
}

#goNext {
    right: 0px;
}

.item.active {
    opacity: 1;
    z-index: 10;
}

.pointList {
    padding-left: 0px;
    list-style: none;
    position: absolute;
    right: 17rem;
    bottom: -28rem;
    z-index: 1000;
}

.point {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    float: left;
    margin-right: 16px;
    border: solid 2px rgba(255, 255, 255, 0.6);

    cursor: pointer;
}

.point.active {
    background-color: rgba(255, 255, 255, 0.5);
}


