#container{
    width: 45rem;
    height: 34.5rem;
    margin: 5px auto;
    overflow: hidden;
}


.menu{
    width: 100%;
}
.menu .l a{
    float: left;
}

.menu .l a div{
    float: right;
    text-decoration: none;
    color: grey;
    font-size: 14px;
    margin: 20px 0 0 10px;
}
.menu .l a div:hover{
    color: green
}

.menu .l a img{
    height: 1.5rem;
    margin: 15px 0 0 0;
}


.menu .r li{
    float: right;
    margin: 20px 10px 10px 10px;
    font-size: 14px;
}
.menu .r li a{
    text-decoration: none;
    color: grey;
}
.menu .r li a:hover{
    color: green
}

.main{
    /* display: flex; */
    width: 64rem;
}


.right{
    float: right;
    width: 50px;
    /* flex: 1; */
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin: 5px 10px;
}

.title{
    color: green;
    font-size: 24px;
    margin: 30px auto;
}

.info{
    line-height: 2rem;
    color: grey;
}